{% extends 'tasks_a/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}

<style>
    .page-link {
        text-decoration: none;
        color: rgb(240, 8, 8);
        margin: 20px 10px;
    }
</style>
<div class="add-todo" style="display: flex; width: 100%;justify-content: space-between;">
    <h1>Welcome <span id="username">{{user.username}}!</span></h1>
    <a href="{% url 'task-create' %}"
        style="height: 25px; border: none; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.5px; background-color: white; padding: 10px; display: flex; align-items: center; cursor: pointer; font-size: small; text-decoration: none;">+
        Add ToDo</a>
</div>


{% for todo in todos %}
<ul style="margin-top: 20px;">
    <li
        style="width: 100%; background-color: white; margin-bottom: 25px; list-style: none; display: flex; align-items: center; justify-content: space-between; flex-direction: row; border-radius: 10px; padding: 10px;">
        <div>
            <p style="margin-bottom: 5px;"><strong>{{todo.title}}</strong></p>
            <p>Completed:
                {{todo.completed|yesno:"Yes,No"}}</p>
        </div>

        <div>
            <a href="{% url 'task-update' todo.pk %}"><img src="{% static 'images/edit_icon.png' %}" alt=""
                    height="20px" style="margin-right: 20px;"></a>
            <a href="{% url 'task-delete' todo.pk %}"><img src="{% static 'images/delete_icon.png' %}" alt=""
                    height="20px"></a>
        </div>

    </li>
</ul>

{% empty %}
<p>No todos found add now</p>
<img src="{% static 'images/empty-todo.png' %}" alt="empty-todo">
{% endfor %}




<div class="pagination">
    <span class="step-links">
        {% if todos.has_previous %}
        <a class="page-link" href="?page=1">&laquo; first</a>
        <a class="page-link" href="?page={{ todos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ todos.number }} of {{ todos.paginator.num_pages }}.
        </span>

        {% if todos.has_next %}
        <a class="page-link" href="?page={{ todos.next_page_number }}">next</a>
        <a class="page-link" href="?page={{ todos.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}